$raiffeisen-red: #e82025; // Raiffeisen Red
$logo-background: #ffffff; // Logo Background
$white: #ffffff;
$black: #000000;
$gray-1: #ededed;
$gray-2: #e4e4e4;
$gray-3: #d6d6d6;
$gray-4: #bcbcbc;
$gray-5: #999999;
$gray-6: #808080;
$gray-7: #666666;
$gray-8: #4d4d4d;
$gray-9: #333333;
$gray-10: #1a1a1a;
$red-1: #ffc0c6;
$red-2: $raiffeisen-red;
$red-3: #b90000;
$red-4: #7B0000;
$red-5: #550102;
// Diagram colors
$beige-1: #e5dbd0;
$beige-2: #ccbca9;
$beige-3: #a99480;
$beige-4: #886f60;
$beige-5: #644d3c;
$violet-1: #d6cce2;
$violet-2: #af9fbc;
$violet-3: #867097;
$violet-4: #614073;
$violet-5: #422449;
$crimson-1: #f1ccc5;
$crimson-2: #e49590;
$crimson-3: #c15c5c;
$crimson-4: #a33737;
$crimson-5: #7b0000;
$green-1: #bddad5;
$green-2: #7eb8b5;
$green-3: #2a7e74;
$green-4: #004c45;
$green-5: #002f29;
